/* Variables*/

// Color
$red: #fc4349;
$grey: #d7dadb;
$blue: #2c3e50;
$light-blue: #6dbcdb;
$rose: #b76e79;
$white: #fff;

// Fonts sizes
$small: 16px;
$medium: 20px;
$large: 48px;

// Padding
$large-padding: 10px 15px;
$big-padding: 20px 30px;

// Margins
$default-margin-top: 30px;
$big-margin-top: 90px;

// Border radious
$border-radious: 4px;
